page-home {
	
	.content {
		background-color: color($colors, dark);
	}
	
	h1, p {
		color: color($colors, moj_light);
	}
	
	ion-img {
		background-color: transparent;

		height: 100%;
		width:  100%;

		img {
			margin: auto;
  			display: block;
		}
	};


}
